@model IEnumerable<SymphonyWebApp.Data.Entities.Course>

@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Course";
}

<section class="hero-wrap hero-wrap-2" style="        background-image: url('/images/course.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-action="Index" asp-controller="Home">Home <i class="fa fa-chevron-right"></i></a></span><a asp-action="Course" asp-controller="Home"><span>Course Lists <i class="fa fa-chevron-right"></i></span></a> </p>
                <h1 class="mb-0 bread">Course Lists</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="row mb-15 col-md-12">
                <div class="col-lg-10">
                    <div class="properties__button mb-90">

                        <nav>
                            <form asp-action="Course" method="get">

                                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                    <div class="btn-group" role="group">
                                        <button class=" mr-2 btn btn-outline-success" onclick="window.location.href='Course'">All</button>

                                        <button class="text-primary btn btn-secondary mr-2" name="courseId" value="Java" type="submit">Java</button>
                                        <button class="text-primary btn btn-secondary  mr-2" name="courseId" value="JavaScript" type="submit">JavaScript</button>
                                        <button class="text-primary btn btn-secondary  mr-2" name="courseId" value="Python" type="submit">Python</button>
                                        <button class="text-primary btn btn-secondary  mr-2" name="courseId" value="SQL" type="submit">SQL</button>
                                    </div>
                                </div>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row col-md-12 mt-5">

                @foreach (var a in Model)
                {
                    <div class="col-md-4 ftco-animate">
                        <div class="project-wrap">

                            <a href="CourseDetail/@a.Id" class="img" style="background-image: url(/images/post/@a.UrlImage);">
                                <span class="price">@a.CourseName</span>
                            </a>
                            <div class=" p-4">
                                <p class="advisor">TrainingTime : @a.TrainingTime</p>
                                <ul class="d-flex justify-content-between">
                                    <li><span class="flaticon-shower">Level : @a.level</span></li>
                                    <li class="price">Fee: @a.Fee$</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>