@model IEnumerable<SymphonyWebApp.Data.Entities.Question>

@{
    Layout = "_PageLayout";
}


<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-action="Index" asp-controller="Home">Home <i class="fa fa-chevron-right"></i></a></span> <span>FAQ's <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">FAQ's</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container py-3">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="accordion" id="faqExample">

                    <div class="card">
                        @foreach (var a in Model)
                        {
                            <div class="card-header p-2" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#a_@a.Id" aria-expanded="false" aria-controls="collapseOne">
                                        Q: @a.Title
                                    </button>
                                </h5>
                            </div>

                            <div id="a_@a.Id" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
                                <div class="card-body">
                                    <b>Answer:</b> @a.Answer
                                </div>
                            </div>
                        }
              
                    </div>
                </div>

            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->
</section>